.chat-panel {
  display: flex;
  flex-flow: column;
  flex: 1;
  background-color: blue;
  padding: 0 18px;
  overflow-y: scroll;
}

.chat-message {
  background-color: red;
  margin: 8px;
  padding-left: 18px;
  word-wrap: break-word;
}

.message-input-wrapper {
  display: flex;
  flex-flow: wrap;
  margin: 8px;
}

.message-input {
  width: 100%;
  margin-bottom: 20px;
  height: 60px;
  border-radius: 8px;
  padding: 18px; 
  font-weight: 400;
  word-wrap: break-word;
  outline: none;
  resize: none;
  font-family: Roboto,sans-serif;
}
